@page "/build"

@inject IUnitService UnitService
@inject IBananaService BananaService
@inject IToastService ToastService

<h3>Build</h3>

<div class="form-group">
    <select @bind="selectedUnitId" class="form-control">
        @foreach (var unit in UnitService.Units)
        {
            <option value="@unit.ID">@unit.Title // @unit.BananaCost Bananas</option>
        }

    </select>

</div>

<button class="btn btn-primary" @onclick="BuildUnit">Build</button>

@code {

    int selectedUnitId = 1;
    public void BuildUnit()
    {
        var selectedUnit = UnitService.Units.FirstOrDefault(unit => unit.ID == selectedUnitId);

        if (selectedUnit != null)
        {

            if (BananaService.Bananas < selectedUnit.BananaCost)
            {
                ToastService.ShowError("Not enough bananas", ":(");
                return;
            }
            BananaService.EatBananas(selectedUnit.BananaCost);
            UnitService.AddUnit(selectedUnitId);
        }
    }

}
